<div class=" row ">
  <div class=" col pr-1 ">
    <div class=" input-group input-group-sm ">
      <input type="text" class="form-control" placeholder="ch" value="3"></input>
      <input type="text" class="form-control" placeholder="cc/n" value="cc"></input>
      <input type="text" class="form-control" placeholder="note" value="11"></input>
    </div>
  </div>
  <div class=" col-7 pl-0 ">
    <div class=" input-group input-group-sm ">
      <input type="text" class="form-control" placeholder="variable" value="mitch_mitch_vol"></input>
    </div>
  </div>
</div>
