<!-- Modal -->
<div class="modal fade text-body" id="labelModal" tabindex="-1" role="dialog" aria-labelledby="labelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="labelModalLabel">Item Properties</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class=" row ">
          <div class=" col ">
            <div class=" input-group mb-2 ">
              <div class=" input-group-prepend ">
                <span id="span_label" class=" input-group-text " style=" width: 88px; ">Label: </span>
              </div>
              <input id="text_field_label" class="form-control text-center" placeholder="label" value="<%= label_text %>"></input>
            </div>
          </div>
        </div>

        <div class=" row ">
          <div class=" col ">
            <div class=" input-group mb-2 ">
              <div class=" input-group-prepend ">
                <span id="span_label" class=" input-group-text " style=" width: 88px; ">Label: </span>
              </div>
              <input id="text_field_size" class="form-control text-center" placeholder="size" value="<%= size %>"></input>
            </div>
          </div>
        </div>

        <div class=" row ">
          <div class=" col ">
            <div class=" input-group mb-2 ">
              <div class=" input-group-prepend ">
                <span class=" input-group-text " style=" width: 88px; ">Color: </span>
              </div>
              <input id="text_field_color" class="form-control text-center" placeholder="color" value="<%= color %>"></input>
            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button id="btn_destroy" type="button"
          class="btn btn-danger" data-dismiss="modal"
          data-toggle="collapse" data-target="#navbarSupportedContent">Remove</button>

        <button type="button"
          class="btn btn-secondary" data-dismiss="modal"
          data-toggle="collapse" data-target="#navbarSupportedContent">Cancel</button>

        <button id="btn_save" type="button"
          class="btn btn-primary" data-dismiss="modal"
          data-toggle="collapse" data-target="#navbarSupportedContent">Save</button>
      </div>

    </div>
  </div>
</div>

