<%= render './navbar', user: @user, layout_name: @layout_name %>

<div class=" container text-center fill-all " >
  <div id="wrap_gui" class=" row fill-all " >
    <div id="wrap" class=" col m-0 p-0 ">an error occurred.. </div>
  </div>
</div>

<script>JS.Users.Interface.onLoad()</script>
