<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><strong><%= user_name %></strong>: <%= current_layout.name %>: <strong>EDIT</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void()"
          data-toggle="modal", data-target="#addItemModal">Add Item </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Item Properties </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">-------------------</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Layout Properties </a>
      </li>
      <li class="nav-item">
        <%= link_to 'Save Layout', current_layout,
          onclick: "App.interface.save_layout()",
          class: 'nav-link' %>
      </li>
    </ul>
  </div>

</nav>

<!-- Modal -->
<div class="modal fade text-body" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addItemModalLabel">Add Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class=" table table-hover ">
          <tbody>
            <tr>
              <td type="item_select" onclick="$(btn_add).attr('data-ctype', 'slider_vertical')">Slider Vertical</td>
            </tr>
            <tr>
              <td type="item_select" onclick="$(btn_add).attr('data-ctype', 'slider_horizontal')">Slider Horizontal</td>
            </tr>
            <tr>
              <td onclick="$('#btn_add').attr('data-ctype', 'encoder')">Encoder</td>
            </tr>
            <tr>
              <td onclick="$('#btn_add').attr('data-ctype', 'encoder_cc')">Encoder CC</td>
            </tr>
            <tr>
              <td onclick="$('#btn_add').attr('data-ctype', 'button_momentary')">Button Momentary</td>
            </tr>
            <tr>
              <td onclick="$('#btn_add').attr('data-ctype', 'button_toggle')">Button Toggle</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          data-toggle="collapse" data-target="#navbarSupportedContent" >Cancel</button>
        <button id="btn_add" type="button" class="btn btn-primary"
          data-ctype="slider_vertical" data-dismiss="modal"
          data-toggle="collapse" data-target="#navbarSupportedContent" >Add+</button>
      </div>
    </div>
  </div>
</div>
