<%= render 'navbar_edit',
  user_name: @user_name,
  current_layout: @layout %>

<div class=" container text-center fill-all " >
  <div id="wrap_gui" class=" row fill-all " >
    <div id="wrap" class=" col m-0 p-0 ">an error occurred.. </div>
  </div>
</div>

<!-- container for component property modals -->
<div id="componentModalBody"></div>

<script>JS.Layouts.Edit.onLoad(<%= @layout.id %>)</script>
