<%= render './navbar_show',
  user_name: @user_name,
  current_layout: @layout,
  layouts: @layouts %>

<div class=" container text-center fill-all " >
  <div id="wrap_gui" class=" row fill-all " >
    <div id="wrap" class=" col m-0 p-0 ">an error occurred.. </div>
  </div>
</div>

<script>JS.Layouts.Show.onLoad()</script>
